html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $white;
  line-height: 1.2;
}

main {
  flex: 1;
  box-sizing: border-box;

  p.description {
    margin-top: .2em;
  }
}

footer {
  flex-shrink: 0;
}

@media (min-width: $medium) {
  main {
    min-height: calc(100vh - #{$header-height});
  }
}