main {
  flex: 1;
}

@media (min-width: $medium) {
  main {
    &.full-height {
      min-height: calc(100vh - #{$header-height-medium});
    }

    &.vertical {
      display: flex;
      flex-direction: row;

      .column {
        flex: 1;
      }
    }
  }
}

@media (min-width: $large) {
  main {
    &.vertical {
      min-height: calc(100vh - #{$header-height-large});
    }
  }
}