main.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lighter-grey;

  .inner {
    padding: 2rem 1rem;
  }

  p {
    margin: 0;
  }
}

@media (min-width: $medium) {
  main.error {
    .inner {
      max-width: 75%;
    }
  }
}

@media (min-width: $large) {
  main.error {
    .inner {
      max-width: 50%;
    }
  }
}