footer {
  padding: 1em;

  div:not(.column), #credits {
    margin: 1em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  b {
    display: block;
    margin-top: 0.2em;
    font-size: 1.2em;
  }

  address {
    font-style: normal;
  }

  small {
    color: $grey;

    a {
      color: $grey !important;
      &:hover, &:focus, &:active {
        color: $light-grey !important;
      }
    }
  }
}

@media all and (min-width: $medium) {

  footer {
    display: flex;

    .column {
      flex: 1;
    }

    #credits {
      display: flex;
      justify-content: right;
      align-items: end;
      text-align: right;
    }
  }

}