$header-height: 9rem;

header {
  padding: 2em 1em;

  h1 {
    margin: .1em 0 0 0;
    font-size: 1.6em;
  }

  #logo {
    text-decoration: none;
    color: $black;
  }

  nav {
    margin-top: 1em;
  }
}

@media (min-width: $medium) {
  header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;

    h1 {
      font-size: 1.8em;
    }
  }
}

@media (min-width: $large) {

}