main.manager {
  border-top: solid;
  border-bottom: solid;
  border-radius: 2px;
  border-color: $black;

  padding: 3rem 1rem;

  .container {
    margin: 0 auto;
  }

  table {
    .button {
      margin: 0 .2em .2em 0;
    }
  }
}

.controls {
  margin-bottom: 1rem;
}

@media (min-width: $medium) {
  main.manager {
    .container {
      width: calc(#{$medium} - 2rem);
    }
  }
}

@media (min-width: $large) {
  main.manager {
    .container {
      width: calc(#{$large} - 2rem);
    }
  }
}
