main.manager {
  padding: 2rem 0;
  background-color: $lighter-grey;

  .container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2rem 1rem;
    background-color: $white;
  }

  table {
    .button {
      margin: 0 .2em .2em 0;
    }
  }
}

.controls {
  margin-bottom: 1rem;
}

@media (min-width: $medium) {
  main.manager {
    padding: 3rem 0;
    .container {
      width: calc(#{$medium} - 2rem);
      padding: 2rem;
    }
  }
}

@media (min-width: $large) {
  main.manager {
    .container {
      width: calc(#{$large} - 2rem);
    }
  }
}
