main.vertical {
  .column {
    display: flex;
    padding: 2rem 1rem;
    background-color: $beige;

    &, &.top {
      align-items: start;
    }

    &.center {
      align-items: center;
    }

    &.bottom {
      align-items: end;
    }

    &.overlay {
      color: $white;
      text-shadow: 0 0 2px $black;

      background-color: $black;
      position: relative;
      background-size: cover;
      background-position: center;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $black;
        opacity: .75;
      }

      .inner {
        z-index: 0;
      }
    }
  }

  .inner {
    width: 100%;
  }

  h2 {
    color: $primary;
  }

  h3 {
    color: $secondary;
  }

  form {
    margin-top: 1em;
  }
}

@media (min-width: $medium) {
  main.vertical {
    display: flex;
    flex-direction: row;

    .column {
      flex: 1;
      justify-content: center;
      padding: 3rem 1rem;
    }

    .inner {
      width: 80%;
    }
  }
}

@media (min-width: $large) {
  main.vertical {
    .inner {
      width: 60%;
    }
  }
}