main.vertical {
  .column {
    display: flex;
    padding: 2rem 1rem;
    background-color: $beige;
    background-size: cover;
    background-position: center;

    &.top {
      align-items: start;
    }

    &.center {
      align-items: center;
    }

    &, &.bottom {
      align-items: end;
    }

    &.image {
      padding: 0;

      .inner {
        padding: 2rem 1rem 1rem 1rem;
        background-color: rgba($black, 0.5);
        color: $white;
      }
    }
  }

  .inner {
    width: 100%;
  }

  h2 {
    color: $primary;
  }

  h3 {
    color: $secondary;
  }

  form {
    margin-top: 1em;
  }
}

@media (min-width: $medium) {
  main.vertical {
    display: flex;
    flex-direction: row;

    .column {
      flex: 1;
      justify-content: center;
      padding: 3rem 1rem;

      &.image {
        justify-content: normal;

        .inner {
          width: 100%;
          padding: 2rem 2rem 1rem 2rem;
        }
      }
    }

    .inner {
      width: 80%;
    }
  }
}

@media (min-width: $large) {
  main.vertical {
    .inner {
      width: 60%;
    }
  }
}