@mixin badge($background-color, $color: $white) {
  color: $color;
  background-color: $background-color;
}

.badge {
  font-size: .75em;
  padding: .25em .5em;

  &.info {
    @include badge($info);
  }

  &.success {
    @include badge($success);
  }

  &.warning {
    @include badge($warning);
  }

  &.danger {
    @include badge($danger);
  }

}