#breadcrumbs {
  margin: -.25rem 0 1rem 0;

  a, span {
    font-size: .75rem;
    color: $light-grey;
  }

  a {
    margin: 0;
    text-decoration: none;

    &:not(:last-child):after {
      content: '›';
      margin: 0 5px;
      color: $light-grey;
    }

    &:hover, &:active, &:focus {
      color: $grey;
    }
  }
}