@mixin button($colour, $hover-colour: lighten($colour, 10%)) {
  border-color: $colour;
  color: $colour;

  &:focus, &:active, &:hover {
    color: lighten($hover-colour, 10%);
    border-color: lighten($hover-colour, 10%);
  }
}

.button {
  // Reset input styles
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  outline: none;

  padding: .5em;
  text-decoration: none;
  display: inline-block;
  border: 2px solid;

  &:focus, &:active, &:hover {
    cursor: pointer;
  }

  // Primary coloured button
  &.primary {
    @include button($primary)
  }

  // Secondary coloured button
  &.secondary {
    @include button($secondary)
  }

  // Black button (default)
  &, &.black {
    @include button($black, $dark-grey)
  }

  &.info {
    @include button($info)
  }

  &.success {
    @include button($success)
  }

  &.warning {
    @include button($warning)
  }

  &.danger {
    @include button($danger)
  }

}