.subscription {
  box-sizing: border-box;
  background-color: $beige;
  padding: .75rem;

  &.canceled {
    background-color: $light-grey;
  }
}

.card {
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  h4 {
    margin-bottom: .2em;
  }

  div:not(:last-child) {
    margin-bottom: 1em;
  }

  a {
    display: block;
  }
}

@media (min-width: $medium) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 49%;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $large) {
}