form {
  .helptext {
    color: $grey;
  }

  .errorlist {
    box-sizing: border-box;
    padding: .75em;
    border: solid 1px $danger;
    color: $danger;

    li {
      list-style: none;
    }
  }

  .required {
    label:after {
      content: '*';
      font-size: .75em;
      float: right;
    }
  }

  :not(.required) {
    label {
      color: $light-grey;
    }
    input, select {
      border-color: $light-grey;
    }
  }

  label {
    display: block;
    margin-bottom: .25em;
  }

  input, select {
    box-sizing: border-box;
    border: solid 1px $dark-grey;
    padding: .75em;
    width: 100%;

    &:focus {
      border-color: $black;
    }
  }
}