[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "~=2.10.6"
celery = "*"
django = "*"
django-celery-email = "*"
django-compressor = "*"
django-libsass = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dateutil = "*"
django-redis = "*"

[dev-packages]

[requires]
