[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
django = "*"
django-celery-email = "*"
gunicorn = "*"
psycopg2-binary = "*"
python-dateutil = "*"

[dev-packages]

[requires]
