{% extends 'layouts/manager.html' %}

{% block title %}Abo verlängern{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'subscription_list' %}">Abonnements</a>
    <span>verlängern</span>
{% endblock %}

{% block content %}
    <p class="description">Abo verlängern</p>

    <form action="{% url 'payment_create' subscription.id %}" method="post">
        {% csrf_token %}

        <fieldset>
            <h3>Preis</h3>

            <p>Wir freuen uns über jeden Franken, den du mehr bezahlst. So können wir uns mal einen neuen Computer anschaffen oder unser selbstgekochtes Weihnachtsessen aufpeppen.</p>

            {{ form.as_p }}

            <p>
                Laufzeit:
                {% if subscription.plan.duration == 1 %}
                    1 Monat
                {% else %}
                    {{ subscription.plan.duration }} Monate
                {% endif %}
            </p>

            <p class="alert info">
                Wir unterstützen nur Zahlungen mittels Banküberweisung. Nach Abschluss schicken wir dir
                eine Rechnung. Sobald die Zahlung bei uns eingetroffen ist, verlängern wir es.
            </p>
        </fieldset>

        <fieldset>
            <input class="button black" type="submit" value="Verlängern" />
        </fieldset>
    </form>
{% endblock %}
