{% extends 'base.html' %}

{% block main_classes %}vertical{% endblock %}

{% block main %}
    <section class="column {% block left_column_alignment %}center{% endblock %}">

        <div class="inner">
            {% block left_column %}{% endblock %}
        </div>

    </section>

    <section
            class="column {% block right_column_classes %}{% endblock %}"
            style="background-image: url('{% block background_image_url %}https://picsum.photos/800x800{% endblock %}')"
    >

        <div class="inner">
            {% block right_column %}{% endblock %}
        </div>

    </section>
{% endblock %}