body {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

main {
  box-sizing: border-box;
  min-height: calc(100vh - 120px);
  padding: 2rem 1rem 3rem 1rem;
  // background-color: $lighter-grey;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    height: 100%;
  }
}

@media (min-width: $medium) {
  main {
    padding: 2rem 2rem 4rem 2rem;

    .container {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
      margin: 0 auto;
      max-width: $large;
    }

    h2, .description, form {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

@media (min-width: $large) {
  main {
    .description, form {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}
