footer {
  box-sizing: border-box;
  padding: 1rem;
  background-color: $lighter-grey;

  div {
    margin: 2rem 0;
    max-width: $medium;
  }

  address {
    font-style: normal;
    margin: .5em 0;
  }
}

@media all and (min-width: $medium) {
  footer {
      padding: 1rem 2rem;
  }
}