footer {
  box-sizing: border-box;
  padding: 1em;
  background-color: $lighter-grey;
  font-size: 1.1rem;

  div {
    margin: 3em 0;
    max-width: $medium;
  }

  address {
    font-style: normal;
    margin: .5em 0;
  }
}

@media all and (min-width: $medium) {
  footer {
      padding: 1em 2em;
  }
}