header {
  padding: 1rem;
  border-bottom: solid 1px $light-grey;

  .container {
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 1rem;

    max-width: $large;
    margin: 0 auto;
  }

  h1 {
    display: none;
  }

  img {
    display: block;
  }

  a {
    display: inline-block;
    color: $black;
    font-weight: 700;
  }
}

#header-logo {
  grid-column-start: 1;
  grid-column-end: 2;
}

#header-nav {
  grid-column-start: 2;
  grid-column-end: 3;

  display: flex;
  align-items: center;
}

@media (min-width: $medium) {
  header {
    padding: 1.5rem;
  }
}

@media (min-width: $large) {
  header {
    nav {
      margin-left: 1rem;

      a {
        margin: 0 1rem;

        &.active {
          color: $primary;
        }
      }
    }
  }
}