@import "../utils/black";

// Natural colours
$white: black(0);
$lighter-grey: black(3);
$light-grey: black(25);
$grey: black(50);
$dark-grey: black(75);
$darker-grey: black(97);
$black: black(99);

// Theme colours
$primary: #375e97;

// Action colours
$info: #375e97;
$success: #3f681c;
$warning: #ffbb00;
$danger: #fb6542;
