{% extends 'vertical_base.html' %}

{% load i18n %}
{% load tags %}

{% block title %}{% trans 'Subscribe' %}{% endblock %}

{% block left_column %}
    <h2>{% trans 'Subscribe' %}</h2>
    <p class="description">
        {% blocktrans %}
            Subscribe the {{ organisation_name }}.
        {% endblocktrans %}
    </p>

    <ul id="subscription_types">
        {% for subscription_type in subscription_types %}
            <li>
                <h3>{{ subscription_type.name }}</h3>
                <p>{{ subscription_type.description }}</p>
                <div class="price">
                    {% if subscription_type.price == 0 %}
                        <span class="amount">{% trans 'Free' %}</span>
                    {% else %}
                        {% blocktrans count price=subscription_type.price %}
                            <span class="amount">{{ price }}</span> franc
                        {% plural %}
                            <span class="amount">{{ price }}</span> francs
                        {% endblocktrans %}
                    {% endif %}

                    {% if not subscription_type.fixed_price %}
                        {% trans 'or more' %}
                    {% endif %}
                    per {% natural_delta subscription_type.duration %}
                </div>
                <a href="{% url 'purchase' subscription_type.slug %}" class="button black">{% trans 'Subscribe' %}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% comment %}
{% block background_image_url %}{% endblock %}
{% endcomment %}

{% block right_column %}
    <h3>Lorem ipsum</h3>
    <p>{% lorem %}</p>
{% endblock %}