{% extends 'vertical_base.html' %}

{% load tags %}

{% block title %}Abonnieren{% endblock %}

{% block left_column %}
    <h2>Unsere Abonnements</h2>
    <p class="description">
        Die Zürcher Studierendenzeitung wird sechsmal jährlich an alle Abonnentinnen und Abonnenten nach Hause versandt.
    </p>

    {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}


    <ul id="plans">
        {% for _, plan in plans.items %}

            <li class="plan">

                <h3>{{ plan.name }}</h3>
                <p>{{ plan.description }}</p>

                <div class="price">
                    {% if plan.price >= 0 %}
                        {# Fixed price #}
                        {% if plan.price == 0 %}
                            <span class="amount">Gratis</span>
                        {% else %}
                            <span class="amount">{{ plan.price }}</span> Franken
                        {% endif %}
                    {% elif plan.min_price >= 0 %}
                        {# Flexible price #}
                        {% if plan.min_price == 0 %}
                            Soviel du willst
                        {% else %}
                            <span class="amount">{{ plan.min_price }}</span> Franken oder mehr
                        {% endif %}
                    {% endif %}
                    /
                    {% humanize_months plan.duration %}
                </div>

                {% if not plan.price == 0 or plan.price < 0 and plan.min_price >= 0 %}
                    <a href="{% url 'purchase' plan.slug %}" class="button black">Kaufen</a>
                {% else %}
                    <a href="{% url 'purchase' plan.slug %}" class="button black">Abonnieren</a>
                {% endif %}


            </li>

        {% endfor %}
    </ul>
{% endblock %}

{% comment %}
{% block background_image_url %}{% endblock %}
{% endcomment %}

{% block right_column_alignment %}top{% endblock %}

{% block right_column %}
    <h3>Lorem ipsum</h3>
    <p>{% lorem %}</p>
{% endblock %}