{% extends 'base.html' %}

{% load humanize %}

{% block title %}Unsere Abos{% endblock %}

{% block description %}
    Das Studium findet nicht nur im Hörsaal statt. Die Zürcher Studierendenzeitung versorgt dich mit
    den wichtigsten Neuigkeiten rund um den Campus. Abonniere ein Jahr Zusatzwissen für dich und deine WG.
{% endblock %}

{% block content %}
    <ul class="list">
        {% for plan in plans %}
            <li class="plan">

                <h3>{{ plan.name }}</h3>
                <p>{{ plan.description }}</p>

                {% if user.is_authenticated %}
                    <a href="{% url 'subscription_create' plan.slug %}" class="button success">Bestellen</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="button success">Bestellen</a>
                {% endif %}
                <span class="button transparent no-pointer">
                    {{ plan.price|humanize:'money'|capfirst }}
                    {% if plan.price != 0 %}
                        /
                        {{ plan.duration|humanize:'duration' }}
                    {% endif %}
                </span>

            </li>
        {% empty %}
            <p class="message info">Leider haben wir zurzeit kein passendes Abo für dich.</p>
        {% endfor %}

        {% for plan in not_eligible_plans %}
            <li class="plan disabled">

                <h3>{{ plan.name }}</h3>
                <p>{{ plan.description }}</p>

                <p>
                    <span class="badge danger">Nicht erhältlich</span>
                    Du brauchst eine kürzlich verifizierte E-Mail-Adresse, die auf {{ plan.get_readable_eligible_email_domains }} endet.
                    {% if plan.eligible_active_subscriptions_per_user <= 1 %}
                        Du darfst maximal {{ plan.eligible_active_subscriptions_per_user|humanize:'number' }} aktives Abo «{{ plan.name }}» haben.
                    {% else %}
                        Du darfst maximal {{ plan.eligible_active_subscriptions_per_user|humanize:'number' }} aktive Abos «{{ plan.name }}» haben.
                    {% endif %}
                </p>

                <p>
                    {{ plan.price|humanize:'money'|capfirst }}
                    {% if plan.price != 0 %}
                        /
                        {{ plan.duration|humanize:'duration' }}
                    {% endif %}
                </p>

            </li>
        {% endfor %}
    </ul>
{% endblock %}
