{% extends 'base.html' %}

{% load humanize %}

{% block title %}Unsere Abos{% endblock %}

{% block description %}
    Das Studium findet nicht nur im Hörsaal statt. Die Zürcher Studierendenzeitung versorgt dich mit
    den wichtigsten Neuigkeiten rund um den Campus. Abonniere ein Jahr Zusatzwissen für dich und deine WG.
{% endblock %}

{% block content %}
    <div id="plans">
        {% for plan in plans %}
            <div class="plan">

                <h3>{{ plan.name }}</h3>
                <p>{{ plan.description }}</p>

                <a href="{% url 'subscription_create' plan.slug %}" class="button success">Bestellen</a>
                <span class="price">
                    {{ plan.price|humanize:'money'|capfirst }}
                    {% if plan.price != 0 %}
                        /
                        {{ plan.duration|humanize:'duration' }}
                    {% endif %}
                </span>

            </div>
        {% empty %}
            <p class="message info">Leider haben wir zurzeit kein passendes Abo für dich.</p>
        {% endfor %}
    </div>
{% endblock %}
