{% extends 'layouts/manager.html' %}

{% block title %}Neues Abonnement{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'subscription_list' %}">Abonnements</a>
    <span>Neues Abonnement</span>
{% endblock %}

{% block content %}
    <p class="description">
        Abonnentinnen und Abonnenten bekommen die Zürcher Studierendenzeitung sechsmal jährlich in ihren Briefkasten geliefert.
    </p>

    <ul id="plans">
        {% for plan in plans %}

            <li class="plan">

                <h3>{{ plan.name }}</h3>
                <p>{{ plan.description }}</p>

                <div class="price">
                    {% if plan.price == 0 %}
                        <span class="amount">Gratis</span>
                    {% else %}
                        <span class="amount">{{ plan.price }}</span> Franken
                        /
                        {% if plan.duration == 1 %}
                            1 Monat
                        {% else %}
                            {{ plan.duration }} Monate
                        {% endif %}
                    {% endif %}
                </div>

                <a href="{% url 'subscription_create' plan.slug %}" class="button black">Abonnieren</a>
            </li>

        {% endfor %}
    </ul>
{% endblock %}