{% extends 'base.html' %}

{% load i18n %}

{% block title %}Subscribe{% endblock %}

{% block main %}
    <main class="authentication vertical full-height">

        <section id="form" class="column">
            <div class="inner">

                <a class="back" href="{% url 'list_subscription_types' %}">{% trans 'Back to all offers' %}</a>

                <h2>{{ subscription_type.name }}</h2>
                <p class="description">{{ subscription_type.description }}</p>

                <form action="{% url 'subscribe' subscription_type.slug %}" method="post">
                    {% csrf_token %}

                    <h3>{% trans 'Account' %}</h3>
                    <p class="alert info">
                        {% blocktrans %}
                            The authentication is password-less. That is why you do not have to specify a password.
                            Each time you want to log in we will send you an email with a secure log in url.
                        {% endblocktrans %}
                    </p>
                    {{ user_form.as_p }}

                    <h3>{% trans 'Subscription' %}</h3>
                    {{ address_form.as_p }}

                    <h3>{% trans 'Price' %}</h3>
                    {% if subscription_type.fixed_price %}
                        {% if subscription_type.price == 0 %}
                            {% trans 'Free' %}
                        {% else %}
                            {% blocktrans count price=subscription_type.price %}
                                {{ price }} franc
                            {% plural %}
                                {{ price }} francs
                            {% endblocktrans %}
                        {% endif %}
                    {% else %}
                        <p>
                            {% blocktrans count price=subscription_type.price %}
                                Please specify a price that is greater than or equal to {{ price }} franc.
                            {% plural %}
                                Please specify a price that is greater than or equal to {{ price }} francs.
                            {% endblocktrans %}
                        </p>
                        <input>
                    {% endif %}

                    {% if subscription_type.price == 0 %}
                        <input class="button black" type="submit" value="{% trans 'Subscribe' %}" />
                    {% else %}
                        <input class="button black" type="submit" value="{% trans 'Purchase' %}" />
                    {% endif %}
                </form>

            </div>
        </section>

        <section id="context" class="column" style="background-image: url('http://unsplash.it/1200x800')">
            <div class="inner">
                <h3>Lorem ipsum</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </section>

    </main>
{% endblock %}