{% extends "base.html" %}

{% block title %}{{ plan.name }} bestellen{% endblock %}

{% block description %}{{ plan.description }}{% endblock %}

{% block content %}
    <form action="{% url 'subscription_create' plan.slug %}" method="post">
        {% csrf_token %}

        {% if signup_form %}
            <fieldset>
                <h3>Account</h3>
                {{ signup_form.as_p }}
            </fieldset>
        {% endif %}

        <fieldset>
            <h3>Adresse</h3>
            {{ subscription_form.as_p }}
        </fieldset>

        <fieldset>
            <h3>Zahlung</h3>
            <p>
                Wir freuen uns über jeden Franken, den du mehr bezahlst. So können wir uns mal einen neuen
                Computer anschaffen oder unser selbstgekochtes Weihnachtsessen aufpeppen.
            </p>
            {{ payment_form.as_p }}
        </fieldset>

        <fieldset>
            <p class="alert warning">
                Wir unterstützen zurzeit nur Zahlungen mittels Banküberweisung. Nach dem Kauf deines Abos
                schicken wir dir eine Rechnung. Sobald die Zahlung bei uns eingetroffen ist, aktivieren wir dein Abo.
            </p>
            <input type="submit" class="button primary" value="Bestellen">
        </fieldset>
    </form>
{% endblock %}
