{% extends 'base.html' %}

{% block title %}Abo kündigen{% endblock %}

{% block description %}
    Bist du sicher, dass du dieses Abo kündigen willst?
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <fieldset>
            <h3>{{ subscription.plan.name }}</h3>
            <p>
                {{ subscription.address_line }}<br>
                {% if subscription.additional_address_line %}
                    {{ subscription.additional_address_line }}<br>
                {% endif %}
                {{ subscription.postcode }} {{ subscription.town }}
            </p>
        </fieldset>

        <fieldset>
            <input class="button danger" type="submit" value="Kündigen">
            <a class="button grey" href="{% url 'subscription_list' %}">Abbrechen</a>
        </fieldset>
    </form>
{% endblock %}
