{% extends 'layouts/manager.html' %}

{% load plans %}

{% block title %}Abo-Verwaltung{% endblock %}

{% block content %}

    <nav class="controls">
        <a href="{% url 'subscription_create' %}" class="button success">Neues Abonnement</a>
    </nav>

    {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}

    <table>
        <tr>
            <th>Typ</th>
            <th>Adresse</th>
            <th>Status</th>
            <th>Optionen</th>
        </tr>

        {% for subscription in subscriptions %}
            <tr>

                <td>
                    {% plan_name subscription.plan %}
                </td>

                <td>
                    <address>
                        {{ subscription.address.address_line_1 }}<br>
                        {% if subscription.address.address_line_2 %}
                            {{ subscription.address.address_line_2 }}<br>
                        {% endif %}
                        {{ subscription.address.postcode }} {{ subscription.address.city }}
                    </address>
                </td>

                <td>
                    {% if subscription.is_active %}
                        <span class="badge success">Aktiv</span>
                    {% elif subscription.has_ended %}
                        <span class="badge danger">Abgelaufen</span>
                    {% else %}
                        <span class="badge danger">Inaktiv</span>
                    {% endif %}

                    {% if subscription.payment.is_paid %}
                        <span class="badge success">Bezahlt</span>
                    {% else %}
                        <span class="badge danger">Zahlung offen</span>
                    {% endif %}
                </td>

                <td>
                    {% if subscription.payment.is_paid %}
                        <a href="{% url 'subscription_update' subscription.id %}" class="button black">Bearbeiten</a>
                        <a href="{% url 'subscription_delete' subscription.id %}" class="button danger">Kündigen</a>
                    {% else %}
                        <a href="{% url 'subscription_detail' subscription.id %}" class="button success">Zahlungsdetails</a>
                    {% endif %}
                </td>

            </tr>
        {% empty %}
            <tr>
                <td>Du hast keine Abos.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}