{% extends 'base.html' %}

{% block title %}Adresse ändern{% endblock %}

{% block description %}
    Ändere deine Adresse.
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <fieldset>
            {{ form.as_p }}
        </fieldset>

        <fieldset>
            <input class="button success" type="submit" value="Speichern">
            <a class="button grey" href="{% url 'subscription_list' %}">Abbrechen</a>
        </fieldset>
    </form>
{% endblock %}
