{% extends 'layouts/manager.html' %}

{% block title %}Abonnement{% endblock %}

{% block breadcrumbs %}
    <span>Abonnement</span>
{% endblock %}

{% block content %}
    {% if subscriptions|length > 0 %}
        <p>
            <a class="button primary" href="{% url 'plan_list' %}">Neues Abonnement</a>
        </p>

        <div class="cards">
            {% for subscription in subscriptions %}
                <div class="card">
                    {% include 'includes/subscription.html' %}

                    <div class="status">
                        <h4>Status</h4>
                        {% if subscription.is_active %}
                            <span class="badge success">Aktiv</span>
                            <br>
                            Gültig bis {{ subscription.end_date }}
                        {% else %}
                            <span class="badge danger">Inaktiv</span>
                            {% if subscription.has_ended %}
                                <br>
                                Am {{ subscription.end_date }} abgelaufen
                            {% elif subscription.is_canceled %}
                                <br>
                                Am {{ subscription.canceled_at.date }} gekündigt
                            {% endif %}
                        {% endif %}
                    </div>

                    {% if subscription.has_open_payments %}
                        <div class="payment">
                            <h4>Zahlung</h4>
                            <a href="{% url 'subscription_detail' subscription.id %}">Offene Rechnung</a>
                        </div>
                    {% endif %}

                    {% if subscription.is_active %}
                        <div class="actions">
                            <h4>Optionen</h4>
                            <a href="{% url 'subscription_update' subscription.id %}">Adresse ändern</a>
                            {% if not subscription.has_open_payments %}
                                <a href="{% url 'subscription_cancel' subscription.id %}">Kündigen</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Du hast kein Abonnement.</p>
        <a class="button primary" href="{% url 'plan_list' %}">Neues Abonnement</a>
    {% endif %}
{% endblock %}