{% extends 'layouts/manager.html' %}

{% block title %}Abonnements{% endblock %}

{% block content %}
    {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}

    <div class="cards">
        {% for subscription in subscriptions %}
            <div class="card">
                <div class="address">
                    <h3>{{ subscription.plan.name }}</h3>
                    <address>
                        {{ subscription.address_line_1 }}<br>
                        {% if subscription.address_line_2 %}
                            {{ subscription.address_line_2 }}<br>
                        {% endif %}
                        {{ subscription.postcode }} {{ subscription.city }}
                    </address>
                </div>

                <div class="status">
                    <h4>Status</h4>
                    {% if subscription.is_active %}
                        <span class="badge success">Aktiv</span>
                        <br>
                        Gültig bis {{ subscription.end_date }}
                    {% else %}
                        <span class="badge danger">Inaktiv</span>
                        {% if subscription.has_ended %}
                            <br>
                            Am {{ subscription.end_date }} abgelaufen
                        {% endif %}
                    {% endif %}
                </div>

                <div class="payment">
                    <h4>Zahlung</h4>
                    {% if subscription.payment.is_paid %}
                        <span class="badge success">Bezahlt</span>
                    {% else %}
                        <span class="badge danger">Nicht bezahlt</span>
                        <br>
                        Zahlbar bis {{ subscription.payment.pay_until }}
                    {% endif %}
                </div>

                <div class="actions">
                    {% if subscription.payment.is_paid %}
                        <a href="{% url 'subscription_update' subscription.id %}" class="button black">Bearbeiten</a>
                        <a href="{% url 'subscription_cancel' subscription.id %}" class="button danger">Kündigen</a>
                    {% else %}
                        <a href="{% url 'subscription_detail' subscription.id %}" class="button black">Zahlungsdetails</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if subscriptions|length == 0 %}
        <p>Du hast keine Abonnements. <a href="{% url 'plan_list' %}">Abo kaufen</a>.</p>
    {% endif %}
{% endblock %}