{% extends 'layouts/manager.html' %}

{% block title %}Zahlungsdetails{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'subscription_list' %}">Abonnements</a>
    <span>Zahlungsdetails</span>
{% endblock %}

{% block content %}
    {% include 'includes/subscription.html' %}

    <h3>Rechnung</h3>

    {% for payment in payments %}
        <h4>Betrag</h4>
        {{ payment.amount }}

        <h4>Mitteilungsfeld</h4>
        {{ payment.code }}

        <h4>Zahlungsdetails</h4>
        Bank: <br>
        IBAN: ???
    {% endfor %}
{% endblock %}