{% extends 'base.html' %}

{% block title %}Zahlungsübersicht{% endblock %}

{% block description %}
    Behalte die Übersicht über dein Abo.
    Hier siehst du die offenen Rechnungen und den Zahlungsverlauf des Abos.
{% endblock %}

{% block content %}
    <h4>{{ subscription.plan }}</h4>
    <p>
        {{ subscription.full_name }}<br>
        {{ subscription.address_line }}<br>
        {% if subscription.additional_address_line %}
            {{ subscription.additional_address_line }}<br>
        {% endif %}
        {{ subscription.postcode }} {{ subscription.town }}
    </p>

    <ul class="list">
        {% for period in periods %}
            <li>

                <h3>{{ period.start_date|date:'F Y' }} bis {{ period.end_date|date:'F Y' }}</h3>

                {# Badges #}
                <div>
                    {% if period.is_paid %}
                        <span class="badge success">Bezahlt</span>
                    {% else %}
                        <span class="badge danger">Nicht bezahlt</span>
                    {% endif %}
                    <span class="badge info">{{ period.payment.get_method_display }}</span>
                </div>

                <p>{{ period.start_date }} bis {{ period.end_date }}</p>

                {# Invoice #}
                {% if not period.payment.is_paid and period.payment.method == 'invoice' %}
                    <p class="message info">
                        Bitte begleiche folgende Rechnung bis am {{ period.payment.due_on }}.
                        Sobald wir die Zahlung erhalten haben, aktivieren wir dein Abo.
                    </p>

                    <div class="invoice">
                        <h4>Betrag</h4>
                        <p>
                            {{ period.payment.amount }} Franken
                        </p>

                        <h4>Mitteilungsfeld</h4>
                        <p>
                            <em>{{ period.payment.code }}</em>
                        </p>

                        <h4>IBAN</h4>
                        <p>
                            CH32 0070 0110 0030 6727 2
                        </p>

                        <h4>Kontoinhaber</h4>
                        <p>
                            medienverein ZS<br>
                            Rämistrasse 62<br>
                            8001 Zürich
                        </p>

                        <h4>Finanzinstitut</h4>
                        <p>
                            Zürcher Kantonalbank<br>
                            Postfach<br>
                            8010 Zürich
                        </p>
                    </div>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
{% endblock %}