@function black($percentage) {
  @return hsl(0, 0, 100 - $percentage)
}

$white: black(0);
$lighter-grey: black(3);
$light-grey: black(25);
$grey: black(50);
$dark-grey: black(75);
$darker-grey: black(97);
$black: black(99);

@function text-contrast($colour) {
  $colour-brightness: round((red($colour) * 299) + (green($colour) * 587) + (blue($colour) * 114) / 1000);
  $light-colour: round((red($white) * 299) + (green($white) * 587) + (blue($white) * 114) / 1000);

  @if abs($colour-brightness) < ($light-colour/2) {
    @return $white;
  }

  @else {
    @return $black;
  }
}

$info: hsl(215, 50%, 50%);
$success: hsl(95, 45%, 50%);
$warning: hsl(45, 90%, 50%);
$danger: hsl(10, 80%, 50%);