@import "../base/colours";

.button {
  padding: .5em 1em;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

  &.primary {
    background: $primary;
    color: $white;
    font-weight: bold;

    &:visited {

    }

    &:focus, &:active, &:hover {

    }
  }

  &.secondary {
    background: $secondary;
    color: $black;

    &:visited {

    }

    &:focus, &:active, &:hover {
      background: $secondary;
    }
  }

}