.button {
  padding: .5em;
  text-decoration: none;
  display: inline-block;
  border: 2px solid;

  // Reset input styles
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  outline: none;

  &:focus, &:active, &:hover {
    cursor: pointer;
  }

  // Primary coloured button
  &.primary {
    border-color: $primary;
    color: $primary;

    &:focus, &:active, &:hover {
      color: lighten($primary, 10%);
      border-color: lighten($primary, 10%);
    }
  }

  // Secondary coloured button
  &.secondary {
    border-color: $secondary;
    color: $secondary;

    &:focus, &:active, &:hover {
      color: lighten($secondary, 10%);
      border-color: lighten($secondary, 10%);
    }
  }

  // Black button (default)
  &, &.black {
    border-color: $black;
    color: $black;

    &:focus, &:active, &:hover {
      color: $dark-grey;
      border-color: $dark-grey;
    }
  }

}