{% load static %}
{% load compress %}

<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">

    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/main.scss' %}">
    {% endcompress %}

    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'images/favicon-64x64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

    <title>Abo - Zürcher Studierendenzeitung</title>
</head>
<body>

{% include 'components/header.html' %}

{% if messages %}
    <section id="messages">
        {% for message in messages %}
            <p class="message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
        {% endfor %}
    </section>
{% endif %}

<main class="{% block main_class %}{% endblock %}">
    <div class="container">
        <h2>{% block title %}Aboverwaltung{% endblock %}</h2>

        <p class="description">
            {% block description %}Aboverwaltung{% endblock %}
        </p>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</main>

{% include 'components/footer.html' %}

</body>
</html>
