{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">

    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'images/favicon-64x64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

    <script src="{% static 'scripts/main.js' %}"></script>

    <title>{% block title %}Aboverwaltung{% endblock %} - {{ organisation_name }}</title>
</head>
<body>

{% include 'includes/header.html' %}

<main class="{% block main_classes %}{% endblock %}">
    {% block main %}{% endblock %}
</main>

{% include 'includes/footer.html' %}

</body>
</html>