{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" />

    <script src="{% static 'scripts/main.js' %}"></script>

    <title>{% block title %}Title{% endblock %} - {{ organisation_name }}</title>
</head>
<body>

    {% include 'includes/header.html' %}

    {% block main %}{% endblock %}

    {% include 'includes/footer.html' %}

</body>
</html>