{% load static %}

<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">

    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'images/favicon-64x64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">

    <title>{% block title %}Fehler{% endblock %} - Zürcher Studierendenzeitung</title>
</head>
<body>

<header>

    <a id="logo" href="{% url 'index' %}">
        <img src="{% static 'images/zs-signet-small.png' %}">
        <h1>Zürcher Studierendenzeitung</h1>
    </a>

    <nav>
        <a href="{% url 'index' %}">Startseite</a>
    </nav>

</header>

<main class="error">
    <div class="inner">
        {% block content %}{% endblock %}
    </div>
</main>

{% include 'includes/footer.html' %}

</body>
</html>
