#plans {
  display: grid;
  grid-gap: 1rem;
  margin-top: 1rem;

  .plan {
    box-sizing: border-box;
    padding: 1rem;
    background-color: $white;

    a {
      display: block;
    }
  }
}

.price {
  margin-bottom: 1em;
  .amount {
    font-size: 2em;
  }
}

.invoice {
  margin-top: 1rem;

  h4 {
    margin: .75em 0 0 0;
  }

  h5 {
    margin: .5em 0 0 0;
  }
}

@media (min-width: $medium) {
  #plans {
    grid-column-start: 1;
    grid-column-end: 3;

    grid-template-columns: repeat(2, 1fr);

    margin-top: 2rem;

    .alert {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

@media (min-width: $large) {
  #plans {
    grid-template-columns: repeat(4, 1fr);
  }
}