#plans {
  .plan {
    margin: 3rem 0;

    p {
      margin-bottom: 1em;
    }

    .price {
      margin-left: 1em;
    }
  }

  .alert {
    margin-top: 3rem;
  }
}

@media (min-width: $medium) {
}

@media (min-width: $large) {

}