#plans {
  .plan {
    margin: 3rem 0;

    p {
      margin-bottom: 1em;
    }

    .price {
      margin-left: 1em;
    }
  }

  .alert {
    margin-top: 3rem;
  }
}

@media (min-width: $medium) {
  #plans {
    grid-column-start: 1;
    grid-column-end: 2;

    .alert {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  #wizard-data {
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-gap: 2rem;
    grid-template-columns: min-content auto;
  }
}

@media (min-width: $large) {
  #wizard-data {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}