{% load static %}

<footer class="inverted">

    <div class="about">
        <img src="{% static 'images/zs_white_small.png' %}">
        <b>Zürcher Studierendenzeitung</b>
    </div>

    <div class="contact">
        <address>
            Medienverein ZS<br>
            Rämistrasse 62<br>
            8001 Zürich
        </address>
        <a href="#">kontakt@zs.news</a>
    </div>

    <div class="bugs">
        Bug gefunden? Schreib uns: <a href="#">informatik@zs.news</a>.<br>
    </div>

</footer>