@import "../utils/black";

// Natural colours
$white: black(0);
$lighter-grey: black(3);
$light-grey: black(25);
$grey: black(50);
$dark-grey: black(75);
$darker-grey: black(97);
$black: black(99);

// Theme colours
$primary: #882326;
$secondary: #fbe6d3;

// Action colours
$info: #42a9d7;
$success: #34b764;
$warning: #f5ce22;
$danger: #c50900;