{% extends 'base.html' %}

{% block title %}E-Mail-Adressen{% endblock %}

{% block description %}
    Deine primäre E-Mail-Adresse wird für die Anmeldung benötigt. Füge weitere
    E-Mail-Adressen hinzu, um Abos bestellen zu können, die nur für gewisse
    Adressen erhältlich sind.
{% endblock %}

{% block content %}
    <div class="action-bar">
        <a class="button success" href="{% url 'email_address_create' %}">E-Mail-Adresse hinzufügen</a>
    </div>

    <ul class="list">
        {% for email_address in email_addresses %}
            <li>

                <h3>{{ email_address.email }}</h3>

                {# Badges #}
                <div>
                    {% if not email_address.verified_at %}
                        <span class="badge danger">Nicht verifiziert</span>
                    {% endif %}
                    {% if email_address.is_primary %}
                        <span class="badge success">Primäre E-Mail-Adresse</span>
                    {% endif %}
                    {% if email_address.verified_at %}
                        <span class="badge info">Verifiziert am {{ email_address.verified_at|date:'d. F Y' }}</span>
                    {% endif %}
                </div>

                {# Actions #}
                <ul class="actions">
                    {% if not email_address.recently_verified %}
                        <li><a href="{% url 'email_address_send_verification' email_address.pk %}">Verifizieren</a></li>
                    {% endif %}

                    {% if not email_address.is_primary %}
                        <li><a href="{% url 'email_address_delete' email_address.pk %}">Löschen</a></li>
                    {% endif %}

                    {% if not email_address.is_primary and email_address.verified_at != None %}
                        <li><a href="{% url 'email_address_set_primary' email_address.pk %}">Als primäre E-Mail-Adresse verwenden</a></li>
                    {% endif %}

                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
