{% extends 'base.html' %}

{% block title %}E-Mail-Adressen{% endblock %}

{% block description %}
    Wir schicken dir alle E-Mails an deine primäre E-Mail-Adresse Diese wird auch
    für die Anmeldung verwendet. Füge weitere E-Mail-Adressen hinzu, um Abos bestellen
    zu können, die nur für gewisse Adressen erhältlich sind.
{% endblock %}

{% block content %}
    <div class="action-bar">
        <a class="button info" href="{% url 'email_address_create' %}">E-Mail-Adresse hinzufügen</a>
    </div>

    <ul class="list">
        {% for email_address in email_addresses %}
            <li>

                <h3>{{ email_address.email }}</h3>

                {# Badges #}
                <div>
                    {% if not email_address.verified_at %}
                        <span class="badge danger">Nicht verifiziert</span>
                    {% endif %}
                    {% if email_address.is_primary %}
                        <span class="badge info">Primäre E-Mail-Adresse</span>
                    {% endif %}
                    {% if email_address.verified_at %}
                        {% if email_address.recently_verified %}
                            <span class="badge grey">Verifiziert am {{ email_address.verified_at|date:'d. F Y' }}</span>
                        {% else %}
                            <span class="badge warning">Verifiziert am {{ email_address.verified_at|date:'d. F Y' }}</span>
                        {% endif %}
                    {% endif %}
                </div>

                {% if not email_address.recently_verified %}
                    <p class="message warning">
                        Diese E-Mail-Adresse muss erneut verifiziert werden, um Abos bestellen zu können, die nur für diese
                        E-Mail-Adresse zugelassen sind.
                    </p>
                {% endif %}

                {# Actions #}
                <ul class="actions">
                    {% if not email_address.recently_verified %}
                        <li><a href="{% url 'email_address_send_verification' email_address.pk %}">Verifizierungslink anfordern</a></li>
                    {% endif %}

                    {% if not email_address.is_primary %}
                        <li><a href="{% url 'email_address_delete' email_address.pk %}">E-Mail-Adresse löschen</a></li>
                    {% endif %}

                    {% if not email_address.is_primary and email_address.verified_at != None %}
                        <li><a href="{% url 'email_address_set_primary' email_address.pk %}">Als primäre E-Mail-Adresse verwenden</a></li>
                    {% endif %}

                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
