{% extends 'base.html' %}

{% block title %}Anmelden{% endblock %}

{% block description %}Melde dich an und verwalte dein Abo.{% endblock %}

{% block content %}
    {% if next %}
        <form action="{% url 'login' %}?next={{next}}" method="post">
    {% else %}
        <form action="{% url 'login' %}" method="post">
    {% endif %}
            {% csrf_token %}

            <fieldset>
                {{ form.as_p }}
            </fieldset>

            <fieldset>
                <input class="button info" type="submit" value="Anmelden">
            </fieldset>
        </form>
{% endblock %}
