{% extends 'base.html' %}

{% block title %}Registrieren{% endblock %}

{% block description %}
    Bevor du ein Abo bestellen kannst, musst du dir ein Konto anlegen.
{% endblock %}

{% block content %}
    <form action="{% url 'signup' %}{{ '?next='|add:next|default:'' }}" method="post">
        {% csrf_token %}

        <fieldset>
            {{ form.as_p }}
            <p class="message info">
                Wir schicken dir einen Link per E-Mail, mit dem du dich anmelden kannst.
                Du benötigst kein Passwort.
            </p>
        </fieldset>
        <fieldset>
            <input class="button success" type="submit" value="Registrieren">
        </fieldset>
    </form>
{% endblock %}
