{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'images/favicon-64x64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Erweiterte Verwaltung</a></h1>
{% endblock %}