main {
  flex: 1;


  h2 {
    color: $primary;
    margin: 0;
  }

  p.description {
    margin-top: .2em;
  }

}

main.vertical {
  .column {
    padding: 3em 1em;
  }

  #form {
    display: flex;
    align-items: center;
    background-color: $lighter-grey;

    form {
      margin-top: 1em;
    }
  }

  #context {
    background-color: $black;
    color: $white;
  }
}

@media all and (min-width: $medium) {
  main.vertical {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - #{$header-height-medium});

    .column {
      flex: 1;
    }

    #form {
      justify-content: center;
    }
  }

}

@media all and (min-width: $large) {
  min-height: calc(100vh - #{$header-height-large});
}