@import "../base/colours";
@import "../base/breakpoints";

#content {
  flex: 1 0 auto;
  h2 {
    color: $primary;
    margin: 0;
  }
  p.description {
    margin-top: .2em;
  }
}

#content.vertical {
  .column {
    padding: 3em 1em;
  }

  #form {
    display: flex;
    align-items: center;
    background-color: $lighter-grey;

    form {
      margin-top: 1em;
    }
  }

  #context {
    background-color: $black;
    color: $white;
  }
}

@media all and (min-width: $medium) {
  #content.vertical {
    display: flex;
    flex-direction: row;

    .column {
      flex: 1;
    }

    #form {
      justify-content: center;
    }
  }

}