{% extends 'layouts/vertical.html' %}

{% load static %}

{% block title %}Abonnements{% endblock %}

{% block left_column %}
    <h2>Abonnements</h2>

    <p class="description">
         Abonnentinnen und Abonnenten bekommen die Zürcher Studierendenzeitung sechsmal jährlich in ihren Briefkasten geliefert.
    </p>

    {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}

    <ul id="plans">
        {% for plan in plans %}

            <li class="plan">

                <h3>{{ plan.name }}</h3>
                <p>{{ plan.description }}</p>

                <div class="price">
                    {% if plan.price == 0 %}
                        <span class="amount">Gratis</span>
                    {% else %}
                        <span class="amount">{{ plan.price }}</span> Franken
                        /
                        {% if plan.duration == 1 %}
                            1 Monat
                        {% else %}
                            {{ plan.duration }} Monate
                        {% endif %}
                    {% endif %}
                </div>

                <a href="{% url 'signup' %}?next={% url 'subscription_create' plan.slug %}" class="button black">Abonnieren</a>

            </li>

        {% endfor %}
    </ul>
{% endblock %}

{% block background_image_url %}{% static 'images/feature1.jpg' %}{% endblock %}

{% block right_column_classes %}image bottom{% endblock %}

{% block right_column %}
    <h3>Mehr wissen</h3>
    <p>Das Studium findet nicht nur im Hörsaal statt. Seit 1923 versorgt die ZS die Studierenden mit den wichtigsten Neuigkeiten rund um den Campus. Abonniere ein Jahr Zusatzwissen für dich und deine WG.</p>
{% endblock %}
