@import "../utils/black";

// Natural colours
$white: black(0);
$lighter-grey: black(3);
$light-grey: black(25);
$grey: black(50);
$dark-grey: black(75);
$dark-grey: black(97);
$black: black(99);

// Theme colours
$primary: #315e97;
$secondary: #fb6542;