{% load static %}

<footer>
    <div>
        <img src="{% static 'images/zs-logo-black.svg' %}" height="50" alt="ZS">
        <p>
            <strong>Zürcher Studierendenzeitung</strong><br>
            Grösste und älteste der Schweiz. An der Uni und ETH Zürich. Seit 1923.
        </p>
    </div>

    <div>
        <h3>Kontakt</h3>
        <address>
            Medienverein ZS<br>
            Rämistrasse 62<br>
            8001 Zürich<br>
        </address>
        <p>
            <a href="mailto:redaktion@medienverein.ch">redaktion@medienverein.ch</a>
        </p>
        <p>
            Auch auf <a href="https://www.instagram.com/zs_redaktion/" target="_blank">Instagram</a>,
            <a href="https://www.facebook.com/medienvereinZS" target="_blank">Facebook</a> und
            <a href="https://twitter.com/zsonline" target="_blank">Twitter</a>.
        </p>
    </div>

    <div>
        Entwickler: <a href="https://www.robinbisping.com/" target="_blank">Robin Bisping</a>.
        Framework: <a href="https://www.djangoproject.com/" target="_blank">Django</a>.
        Code: <a href="https://github.com/studierendenzeitung/subscription-manager" target="_blank">Github</a>.
    </div>
</footer>