.price {
  margin-bottom: 1em;
  .amount {
    font-size: 2em;
  }
}

.invoice {
  margin-top: 1rem;

  h4 {
    margin: .75em 0 0 0;
  }

  h5 {
    margin: .5em 0 0 0;
  }
}

#plans {
  padding: 0;
  margin: 2em 0 0 0;

  li {
    list-style: none;
  }

  .plan {
    padding: 2em 0;
    border-bottom: solid 1px rgba($black, .25);

    &:first-child {
      border-top: solid 1px rgba($black, .25);
    }
  }
}

#purchase-form {
  input[type="submit"] {
    margin: 1em 0 2em 0;
  }
}