{% extends 'vertical_base.html' %}

{% load i18n %}

{% block title %}{% trans 'Log in' %}{% endblock %}

{% block left_column %}
    <h2>{% trans 'Log in' %}</h2>
    <p class="description">{% trans 'Manage your subscriptions.' %}</p>

    {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button black" type="submit" value="{% trans 'Log in' %}" />
    </form>
{% endblock %}

{% comment %}
{% block background_image_url %}{% endblock %}
{% endcomment %}

{% block right_column %}
    <h3>Lorem ipsum</h3>
    <p>{% lorem %}</p>
{% endblock %}