{% extends 'layouts/vertical.html' %}

{% load static %}

{% block title %}Anmelden{% endblock %}

{% block left_column %}
    <h2>Anmelden</h2>
    <p class="description">Verwalte deine Abonnements.</p>

    {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}

    {% if next %}
        <form action="{% url 'login' %}?next={{next}}" method="post">
    {% else %}
        <form action="{% url 'login' %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button black" type="submit" value="Anmelden" />
    </form>
{% endblock %}

{% block background_image_url %}{% static 'images/feature2.jpg' %}{% endblock %}

{% block right_column %}
    <h3>Mehr wissen</h3>
    <p>Das Studium findet nicht nur im Hörsaal statt. Seit 1923 versorgt die ZS die Studierenden mit den wichtigsten Neuigkeiten rund um den Campus. Abonniere ein Jahr Zusatzwissen für dich und deine WG.</p>
{% endblock %}