{% extends 'layouts/vertical.html' %}

{% block title %}Anmelden{% endblock %}

{% block left_column %}
    <h2>Anmelden</h2>
    <p class="description">Verwalte deine Abonnements.</p>

    {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button black" type="submit" value="Anmelden" />
    </form>
{% endblock %}

{% comment %}
{% block background_image_url %}{% endblock %}
{% endcomment %}

{% block right_column %}
    <h3>Lorem ipsum</h3>
    <p>{% lorem %}</p>
{% endblock %}