{% extends 'vertical_base.html' %}

{% load i18n %}

{% block title %}{% trans 'Sign up' %}{% endblock %}

{% block left_column %}
    <h2>{% trans 'Sign up' %}</h2>
    <p class="description">{% trans 'Create an account to manage your subscriptions.' %}</p>

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button black" type="submit" value="{% trans 'Sign up' %}" />
    </form>
{% endblock %}

{% comment %}
{% block background_image_url %}{% endblock %}
{% endcomment %}

{% block right_column %}
    <h3>Unterstütze studentischen Journalismus</h3>
    <p>{% lorem %}</p>
{% endblock %}