{% extends 'layouts/vertical.html' %}

{% block title %}Registrieren{% endblock %}

{% block left_column %}
    <h2>Registrieren</h2>
    <p class="description">Erstelle einen Account und verwalte deine Abonnements</p>

    {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}

    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button black" type="submit" value="Registrieren" />
    </form>
{% endblock %}

{% comment %}
{% block background_image_url %}{% endblock %}
{% endcomment %}

{% block right_column %}
    <h3>Unterstütze studentischen Journalismus</h3>
    <p>{% lorem %}</p>
{% endblock %}