{% extends 'layouts/vertical.html' %}

{% load static %}

{% block title %}Registrieren{% endblock %}

{% block left_column %}
    <h2>Registrieren</h2>
    <p class="description">
        Erstelle einen Account.<br>
        Du hast bereits einen Account? Dann <a href="{% url 'login' %}">melde</a> dich <a href="{% url 'login' %}">an</a>.
    </p>

    {% for message in messages %}
        <p class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</p>
    {% endfor %}

    {% if 'student' in next %}
        <p class="alert info">
            Gib deine studentische E-Mail-Adresse an. Sonst kannst du das studentische Abo nicht abonnieren. Wir anerkennen folgende Adressen: {{ allowed_student_email_addresses }}.
        </p>
    {% endif %}

    {% if next %}
        <form action="{% url 'signup' %}?next={{next}}" method="post">
    {% else %}
        <form action="{% url 'signup' %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <input class="button black" type="submit" value="Registrieren" />
    </form>
{% endblock %}

{% block background_image_url %}{% static 'images/feature1.jpg' %}{% endblock %}

{% block right_column %}
    <h3>Mehr wissen</h3>
    <p>Das Studium findet nicht nur im Hörsaal statt. Seit 1923 versorgt die ZS die Studierenden mit den wichtigsten Neuigkeiten rund um den Campus. Abonniere ein Jahr Zusatzwissen für dich und deine WG.</p>
{% endblock %}