@mixin badge($background-color, $color: $white) {
  color: $color;
  background-color: $background-color;
}

.badge {
  font-size: .75em;
  padding: .25em .5em;
  display: inline-block;
  text-decoration: none;

  &.info {
    @include badge($info);
  }

  &.success {
    @include badge($success);
  }

  &.warning {
    @include badge($warning, $black);
  }

  &.danger {
    @include badge($danger, $black);
  }

}