@import "../colours";

@mixin badge($colour) {
  color: text-contrast($colour);
  background-color: $colour;
}

.badge {
  font-size: .75em;
  padding: .25em .5em;
  display: inline-block;
  text-decoration: none;

  &, &.black {
    @include badge($black);
  }

  &.info {
    @include badge($info);
  }

  &.success {
    @include badge($success);
  }

  &.warning {
    @include badge($warning);
  }

  &.danger {
    @include badge($danger);
  }

}