@mixin button($colour) {
  background-color: $colour;
  color: text-contrast($colour);

  &:focus, &:active, &:hover {
    background-color: lighten($colour, 10%);
    color: text-contrast(lighten($colour, 10%));
  }
}

.button {
  // Reset input styles for form buttons
  width: auto;
  overflow: visible;
  background: transparent;
  font: inherit;
  outline: none;
  border: none;

  display: inline-block;
  padding: .75em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &, &.grey {
    @include button($light-grey);
  }

  &.info {
    @include button($info);
  }

  &.success {
    @include button($success);
  }

  &.warning {
    @include button($warning);
  }

  &.danger {
    @include button($danger);
  }

  &.transparent {
    @include button(rgba(255, 255, 255, 0))
  }

  &.no-pointer {
    cursor: text;
  }
}