form {
  fieldset {
    margin: 0;
    padding: 1rem 0 0 0;
    border: none;
  }

  .helptext {
    color: $grey;
  }

  .errorlist {
    box-sizing: border-box;
    padding: .75em;
    border: solid 1px $danger;
    color: $danger;

    li {
      list-style: none;
    }
  }

  .required {
    label:after {
      content: 'erforderlich';
      font-size: .75em;
      color: $grey;
      margin-left: .5em;
    }
  }

  label {
    display: block;
    margin-bottom: .25em;
  }

  input, select {
    box-sizing: border-box;
    border: solid 1px $grey;
    padding: .75em;
    width: 100%;
    background-color: $white;

    &:focus {
      border-color: $black;
    }

    &:disabled {
      background-color: $lighter-grey;
    }
  }
}