@import "../colours";

@mixin message($colour) {
  background-color: hsl(hue($colour), saturation($colour), 75%);
  color: $black;
}

.message {
  box-sizing: border-box;
  padding: .75em;

  &, &.black {
    @include message($black);
  }

  &.info {
    @include message($info);
  }

  &.success {
    @include message($success);
  }

  &.warning {
    @include message($warning);
  }

  &.error {
    @include message($danger);
  }
}