nav {
  a {
    display: block;

    &:not(:last-child) {
      margin-bottom: .25em;
    }

    &.active {
      font-weight: bold;
    }
  }
}

@media (min-width: $medium) {
  nav {
    a {
      display: inline;

      &:not(:last-child) {
        margin: 0 1em 0 0;
      }
    }
  }
}