.table {
  overflow-x: auto;

  table {
    white-space: nowrap;
    border-collapse: collapse;

    th, td {
      padding: 0.75em 1em;
      text-align: left;
    }

    th {
      background-color: $dark-grey;
      color: $white;
    }

    tr {
      &:nth-child(even), &:hover {
        background-color: $lighter-grey;
      }
    }

  }
}